/* Located in static/css/styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map, #yield-map {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
